server:
  port: 8080

spring:
  datasource:
#    url: jdbc:h2:mem:testdb
    url: jdbc:h2:file:./testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update